<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Document Title</title>
</head>
<body>
    <header>
        <nav>
            <div class="container-fluid navigation-background">
                <div class="row">
                    <div class="container">
                        <div class="row navigation-main">
                            <div class="col-3 float-left">
                                <img src="http://www.htmlandcssbook.com/code-samples/chapter-15/images/logo.png" alt="Logo">
                            </div>
                            <div class="col-9">
                                <div class="image float-left">
                                    <img src="http://www.htmlandcssbook.com/code-samples/chapter-15/images/header-triangle.png" alt="">
                                </div>
                                <ul class="inline-nav float-right">
                                    <li><a href="">home</a></li>/
                                    <li><a href="">news</a></li>/
                                    <li><a href="">archives</a></li>/
                                    <li><a href="">about</a></li>/
                                    <li><a href="">contacts</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container-fluid main-background-color">
            <div class="row">
                <div class="container background-wrapper">
                    <div class="background-triangles">
                        <div class="row justify-content-end">
                            <div class="col-6 float-right">
                                <h1 class="main-header"><a href="">Fixed Gear Forever</a></h1>
                            </div>
                        </div>
                        <div class="row justify-content-end">
                            <div class="col-3 float-right margin-right">
                                <article>
                                    <div class="article-date">16 April 2020</div>
                                    <div class="article-content">
                                        <p>The veloheld combines minimalist design with superb quality.
                                             Devoid of excessive graphics and gear shift components, 
                                             the veloheld product range delights us with its beauty and 
                                             simplicity. The black and white (yin and yang?) bicycles feature
                                              a short wheelbase, a single gear and a narrow handlebar... 
                                              All you need to explore the city streets.</p>
                                        <p>For those who want to create their bike themselves, 
                                            the veloheld frames come in three sizes and two colours and 
                                            are the perfect starting point.
                                            <br>
                                            <a href="">Continue reading</a>
                                        </p>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="container">
                    <div class="row divider-line"></div>
                </div>
            </div>
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="header-articles">More articles</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col-3">
                            <div class="article-wrapper">
                                <div class="article-thumbnail">
                                    <img src="http://www.htmlandcssbook.com/code-samples/chapter-15/images/more1.jpg" alt="">
                                </div>
                                <p><a href="">On the Road: From the fixed gear fanatic's point of view</a></p>
                                <p><a href="">Brand History: Pashley Cycles - hand-built in England</a></p>
                                <p><a href="">Frame Wars: Innovations in cycle manufacture and repair</a></p>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="article-wrapper">
                                <div class="article-thumbnail">
                                    <img src="http://www.htmlandcssbook.com/code-samples/chapter-15/images/more1.jpg" alt="">
                                </div>
                                <p><a href="">On the Road: From the fixed gear fanatic's point of view</a></p>
                                <p><a href="">Brand History: Pashley Cycles - hand-built in England</a></p>
                                <p><a href="">Frame Wars: Innovations in cycle manufacture and repair</a></p>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="article-wrapper">
                                <div class="article-thumbnail">
                                    <img src="http://www.htmlandcssbook.com/code-samples/chapter-15/images/more1.jpg" alt="">
                                </div>
                                <p><a href="">On the Road: From the fixed gear fanatic's point of view</a></p>
                                <p><a href="">Brand History: Pashley Cycles - hand-built in England</a></p>
                                <p><a href="">Frame Wars: Innovations in cycle manufacture and repair</a></p>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="article-wrapper">
                                <div class="article-thumbnail">
                                    <img src="http://www.htmlandcssbook.com/code-samples/chapter-15/images/more1.jpg" alt="">
                                </div>
                                <p><a href="">On the Road: From the fixed gear fanatic's point of view</a></p>
                                <p><a href="">Brand History: Pashley Cycles - hand-built in England</a></p>
                                <p><a href="">Frame Wars: Innovations in cycle manufacture and repair</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="row footer-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="footer-text">
                            Legal Information | Privacy Policy | Copyright © Pedal Faster 2011
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </main>
</body>
</html>