<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Position Absolute</title>
    <style>
        h1{
            position: absolute;
            top: 0;
            left: 500px;
            width: 250px;

        }
        .wrapper {
            margin: 300px 100px;

        }
    </style>
</head>
<body>
    <div class="normal-position">
        <div class="wrapper">
            <h1>The Evolution of the Bicycle</h1>
            <p>In 1817 Baron von Drails invented a walking machine
                that would help him get around the royal
                gardens faster...
            </p>
        </div>
    </div>
</body>
</html>