img{
    &.large {
        width: 200px;
        height: 450px;
    }

    &.medium {
        width: 150px;
        height: 150px;
    }

    &.small {
        width: 75px;
        height: 20px;
    }

    &.align-left {
        float: left;
        margin-right: 10px;
    }

    &.align-right {
        float: right;
        margin-left: 10px;
    }

    &.align-center {
        display: block;
        margin: 0 auto;
    }

}

body {
    // background: url('/images/tulip.gif') no-repeat fixed center center;
    height: 1000px;
}

.parallax {
    position: relative;
    width: 100%;
    height: 300px;
    top: 20%;
    background: url('/images/library-hero.jpg') fixed no-repeat;
}